<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: head('View Goals')">
</head>
<body>
<div class="container" style="border: 1px solid darkgrey; width: 300px;
     border-radius: 20px; height: 300px; margin-top: 60px;">
    <h5 style="margin-left: 20%;">View your goals!</h5>
    <table class="centered">
        <thead>
            <tr>
                <th>Calories</th>
                <th th:text="${userGoals.calorieGoal}"></th>
                <th>Calories from</th>
                <th>Grams</th>
            </tr>
        <hr/>
        </thead>
        <tbody>
            <tr>
                <td>Protein</td>
                <td><span th:text="${userGoals.proteinGoal}"></span>%</td>
                <td th:text="${userGoals.proteinCaloriesGoal}"></td>
                <td th:text="${userGoals.proteinGramsGoal}"></td>
            </tr>
            <tr>
                <td>Fat</td>
                <td><span th:text="${userGoals.fatGoal}"></span>%</td>
                <td th:text="${userGoals.fatCaloriesGoal}"></td>
                <td th:text="${userGoals.fatGramsGoal}"></td>
            </tr>
            <tr>
                <td>Carbohydrate</td>
                <td><span th:text="${userGoals.carbGoal}"></span>%</td>
                <td th:text="${userGoals.carbCaloriesGoal}"></td>
                <td th:text="${userGoals.carbGramsGoal}"></td>
            </tr>
        </tbody>
    </table>
    <h3></h3>
</div>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>