<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Diary</title>
</head>
<body>
<h1>This will be your food diary</h1>

<div class="food">

    <form th:action="@{/diary}" method="post">
        <div class="form-food">
            <label for="breakfast">Breakfast</label>
            <input id="breakfast" name="breakfast" type="text" class="form-control"/>

            <table>
                <tr>
                    <th>Breakfast</th>
                    <th>Lunch</th>
                    <th>Dinner</th>
                    <th>Snack</th>
                </tr>
                <tr>
                    <td>Calories</td>
                    <td>Protein</td>
                    <td>Fat</td>
                    <td>Carbohydrates</td>
                </tr>
                <tr>
                    <td>Calories</td>
                    <td>Protein</td>
                    <td>Fat</td>
                    <td>Carbohydrates</td>
                </tr>
                <tr>
                    <td>Calories</td>
                    <td>Protein</td>
                    <td>Fat</td>
                    <td>Carbohydrates</td>
                </tr>
                <tr>
                    <td>Calories</td>
                    <td>Protein</td>
                    <td>Fat</td>
                    <td>Carbohydrates</td>
                </tr>
            </table>

            <input type="submit" value="Add Breakfast" class="btn btn-primary"/>
        </div>

    </form>

</div>

</body>
</html>