<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('register')">
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="row">
<h4>Hello from register!</h4>
        </div>
        <form class="col s12" id="reg-form" th:action="@{/register}" method="POST" th:object="${user}">
            <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" th:field="*{firstName}" required="required" />
                <label>First Name</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" th:field="*{lastName}" class="validate" />
                <label>Last Name</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email_prefix" type="text" th:field="*{email}" required="required" />
                <label for="email_prefix">Email</label>
            </div>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">https</i>
                <input type="password" th:field="*{password}" required="required" />
                <label>Password</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">https</i>
                <input  type="password" id="confirmPwd" name="confirmPwd" required="required" />
                <label for="confirmPwd">Confirm password</label>
            </div>
        <button type="submit" class="signupbtn">Submit</button>
    </form>
</div>
</div>
<div th:replace="partials/scripts::scripts"></div>
</body>
</html>