<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>
<body>
    <h2>Hello from register!</h2>
        <form th:action="@{/register}" method="POST" th:object="${user}">
            <div>
            First Name:
            <input type="text" th:field="*{firstName}" placeholder="First Name" required="required" />
            </div>

            <div>
            Last Name:
            <input type="text" th:field="*{lastName}" placeholder="Last Name" required="required" />
            </div>

            <div>
            Email:
            <input type="text" th:field="*{email}" placeholder="Enter Email" required="required" />
            </div>

            <div>
            Password:
            <input type="password" th:field="*{password}" placeholder="Enter Password" required="required" />
            </div>

            <div>
            Confirm Password:
            <input type="password" id="confirmPwd" name="confirmPwd" placeholder="Confirm Password" required="required" />
            </div>
        <div>
        <button type="button"  class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Register</button>
        </div>
    </form>
</body>
</html>