body {
    background-color: #E3E3E5;
}

body > .container {
    padding: 2em;
    margin-top: 1em;
    background-color: #fff;
}

#grey-main-container {
    background-color: #E3E3E5;
}

.collapsible.popout > li {
    margin-bottom: .5em;
}

.collapsible-body {
    overflow-x: scroll;
}

#index-banner {
background-image: url('/img/vegetable-banner.jpg');
background-size: cover;
}

.material-icons {
    font-size: 1em;
}

.icon-block {
    font-size: larger;
}

.mail {
    height: 32px;
    width: 32px;
}

