table {
    background-color: #d5eec4;
            width:100%;
        }
table, th, td {
    border: 1px solid #363636;
    border-collapse: collapse;
        }
th, td {
    padding: 5px;
    text-align: left;
        }
h1{
    text-align: center;
        }